<!DOCTYPE html>
<html lang="en", xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OMT</title>
</head>
<body>
    <p>Add a new Show</p>
    <form
        action="#"
        th:action="@{/shows}"
        th:object="${show}"
        method="post"
    >
        <label class="new-name-label">Name:</label>
        <input
            type="text"
            th:field="*{name}"
            data-cy="name-input"
        />
        <br>
        <label class="new-date-label">Date:</label>
        <input
            type="date"
            th:field="*{date}"
            data-cy="date-input"
        />
        <br>
        <br>
        <input type="submit" data-cy="submit" value="Add Show">
    </form>
</body>
</html>