<!DOCTYPE html>
<html lang="en" , xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments/layout :: head">
</head>
<body>
<p>Add a new Show</p>
<form
        action="#"
        th:action="@{/shows}"
        th:object="${show}"
        method="post"
>
    <div th:fragment="show-fields">
        <label>Name:</label>
        <input
                type="text"
                th:field="*{name}"
                data-test="name-input"
        />
        <br>
        <label>Date:</label>
        <input
                type="date"
                th:field="*{date}"
                data-test="date-input"
        />
    </div>
    <br>
    <br>
    <input type="submit" data-test="submit" value="Add Show">
</form>
</body>
</html>