<!DOCTYPE html>
<html lang="en" , xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: head"></div>
</head>
<body>
<div th:insert="fragments/layout :: navbar"></div>
<div class="container">
    <h1>Fill in show details</h1>
    <form
            action="#"
            th:action="@{/shows/create}"
            th:object="${show}"
            method="post"
    >
        <div class="col-lg-6 col-md-9" th:fragment="show-fields">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="name-label">Name</span>
                </div>
                <input
                        type="text"
                        id="name-input"
                        class="form-control"
                        placeholder="show name"
                        th:field="*{name}"
                        data-test="name-input"
                />
            </div>
            <label
                    th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}"
                    data-test="name-error">
            </label>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="date-label">Date</span>
                </div>
                <input
                        type="date"
                        id="date-input"
                        class="form-control"
                        th:field="*{date}"
                        data-test="date-input"
                />
            </div>
            <label
                    th:if="${#fields.hasErrors('date')}"
                    th:errors="*{date}"
                    data-test="date-error"
            >
            </label>
        </div>
        <br>
        <br>
        <input type="submit" class="btn btn-secondary" data-test="submit" value="Create Show"/>
        <button type="button" class="btn btn-link" data-test="cancel">
            <a th:href="@{/}">Cancel</a>
        </button>
    </form>
</div>
</body>
</html>