<!DOCTYPE html>
<html lang="en", xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments/layout :: head">
</head>
<body>
<div th:insert="fragments/layout :: navbar"/>
<div class="container" th:object="${show}">
    <h1 th:text="${show.name + ' (' + show.date + ')'}"></h1>
    <br>
    <br>
    <br>
    <h2>Tracklist</h2>
    <button type="submit" data-test="add-tracks">
        <a th:href="@{/shows/{id}/tracks/create(id=${showId})}">Add tracks</a>
    </button>
    <table class="table table-striped">
        <thead class="thead-dark">
            <th>Artist</th>
            <th>Title</th>
            <th>URL</th>
        </thead>
        <tbody>
            <tr th:each="track: ${show.tracks}" data-test="tracklist">
                <td th:text="${track.artist}" data-test="artist"></td>
                <td th:text="${track.title}" data-test="title"></td>
                <td th:text="${track.url}" data-test="url"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <div class="btn-group">
        <form
                action="#"
                th:action="@{/shows/{id}/update(id=${showId})}"
                method="get"
        >
            <button type="submit" data-test="edit">Edit</button>
        </form>
        <form
                action="#"
                th:action="@{/shows/delete/{id}(id=${showId})}"
                method="get"
        >
            <button type="submit" data-test="delete">Delete</button>
        </form>
    </div>
</div>
</body>
</html>