<!DOCTYPE html>
<html lang="en" , xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: head"></div>
</head>
<body>
<div th:insert="fragments/layout :: navbar"/>
<div class="container" th:object="${show}">
    <div class="flex row">
        <h1 th:text="${show.name + ' ' + show.date}"></h1>
        <div class="btn btn-group">
            <form
                    action="#"
                    th:action="@{/shows/{id}/update(id=${showId})}"
                    method="get"
            >
                <button type="submit" class="btn btn-outline-secondary" data-test="edit">Edit</button>
            </form>
            <form
                    action="#"
                    th:action="@{/shows/delete/{id}(id=${showId})}"
                    method="get"
            >
                <button type="submit" class="btn btn-outline-secondary" data-test="delete">Delete</button>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="flex row justify-content-between no-gutters">
            <h2>Tracklist</h2>
            <form
                    action="#"
                    th:action="@{/shows/{id}/tracks/create (id=${showId})}"
                    method="get"
            >
                <button type="submit" class="btn btn-outline-secondary" data-test="manage-tracklist">Manage tracklist</button>
            </form>
        </div>
        <ul class="list-group">
            <li th:each="track: ${show.tracks}" class="list-group-item" data-test="tracklist">
                <a th:href="${track.url}">
                    <span th:text="${track.artist}" data-test="artist"></span>
                    -
                    <span th:text="${track.title}" data-test="title"></span>
                </a>
            </li>
        </ul>
        <br>
        <br>
        <br>
    </div>
</div>
</body>
</html>