<!DOCTYPE html>
<html lang="en" , xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments/layout :: head">
</head>
<body>
<div th:insert="fragments/layout :: navbar"></div>
<div class="container">
    <h1>Tracklist</h1>
    <form
            action="#"
            th:action="@{/shows/{id}/tracks (id=${showId})}"
            th:object="${tracklist}"
            method="post"
    >
        <fieldset>
        <table>
            <thead>
                <th>Artist</th>
                <th>Title</th>
            </thead>
            <tbody>
                <tr th:each="track, itemStat: *{tracks}">
                    <td><input type="text"
                               th:field="*{tracks[__${itemStat.index}__].artist}"
                                data-test="artist"
                                autofocus
                    /></td>
                    <td><input type="text"
                               th:field="*{tracks[__${itemStat.index}__].name}"
                               data-test="name"
                               autofocus
                    /></td>
                </tr>
            </tbody>
        </table>
        </fieldset>
        <br>
        <br>
        <br>
        <input type="submit" data-test="submit" value="Add track">
    </form>
</div>
</body>
</html>