<!DOCTYPE html>
<html lang="en" , xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments/layout :: head">
</head>
<body>
<div th:insert="fragments/layout :: navbar"></div>
<div class="container">
    <h1>Create a track</h1>
    <form
            action="#"
            th:action="@{/shows/{id}/tracks (id=${showId})}"
            th:object="${track}"
            method="post"
    >
        <label>Artist name:</label>
        <input
                type="text"
                th:field="*{artist}"
                data-test="artist"
                autofocus
        />
        <br>
        <label>Track name:</label>
        <input
                type="text"
                th:field="*{name}"
                data-test="name"
        />
        <br>
        <br>
        <br>
        <input type="submit" data-test="submit" value="Add track">
    </form>
</div>
</body>
</html>