<!DOCTYPE html>
<html lang="en", xmlns:th="https://www.thymeleaf.org">
<head>

</head>
<body>

<th:block th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>OMT Radio</title>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</th:block>


<nav
        th:fragment="navbar"
        class="navbar navbar-expand-sm navbar-dark bg-dark"
        data-test="navbar"
        style="margin-bottom:20px"
>
    <a class="navbar-brand" href="#">OMT Radio</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/" data-test="navbar-home">Home</a>
        </li>
    </ul>
</nav>

</body>
</html>