<!DOCTYPE html>
<html lang="en", xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OMT</title>
</head>
<body>

<h1>Welcome to this radio content manager!</h1>

<div id="radio-shows">
    <h2>Radio shows</h2>
    <button type="button" data-test="add-show">
        <a href="/shows/add">Create new show</a>
    </button>
    <table data-test="shows">
        <thead>
        <th>Name</th>
        <th>Date</th>
        <th></th>
        </thead>
        <tbody>
        <tr th:each="show: ${shows}" data-test="show">
            <td data-test="show-name">
                <span th:text="${show.name}"></span>
            </td>
            <td data-test="show-date">
                <span th:text="${show.date}"></span>
            </td>
            <td>
                <form
                    action="#"
                    th:action="@{/shows/delete/{id}(id=${show.id})}"
                    method="get"
                    data-test="delete"
                >
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>