<!DOCTYPE html>
<html lang="en" , xmlns:th="https://www.thymeleaf.org">
<head th:insert="fragments/layout :: head">
</head>
<body>
<div th:insert="fragments/layout :: navbar"></div>
<div class="container">
    <h1>Welcome to this radio content manager!</h1>
    <h2>Radio shows</h2>
    <button type="button" data-test="create-show">
        <a href="/shows/create">Create new show</a>
    </button>
    <table data-test="shows" class="table table-striped">
        <thead class="thead-dark">
        <th>Date</th>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
        </thead>
        <tbody>
        <tr th:each="show: ${shows}" data-test="show">
            <td data-test="show-date">
                <span th:text="${show.date}"></span>
            </td>
            <td data-test="show-name">
                <span th:text="${show.name}"></span>
            </td>
            <td>
                <form
                        action="#"
                        th:action="@{/shows/details/{id}(id=${show.id})}"
                        method="get"
                >
                    <button type="submit" data-test="show-details">Details</button>
                </form>
            </td>
            <td>
                <form
                        action="#"
                        th:action="@{/shows/delete/{id}(id=${show.id})}"
                        method="get"
                >
                    <button type="submit" data-test="delete">Delete</button>
                </form>
            </td>
            <td>
                <form
                        action="#"
                        th:action="@{/shows/update/{id}(id=${show.id})}"
                        method="get"
                >
                    <button type="submit" data-test="edit">Edit</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>