<!DOCTYPE html>
<html lang="en" , xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: head"></div>
    <script type="text/javascript" th:src="@{/js/tracklist.js}"></script>
</head>
<body>
<div th:insert="fragments/layout :: navbar"></div>
<div class="container">
    <form
            action="#"
            th:action="@{/shows/{id}/tracks (id=${showId})}"
            th:object="${tracklist}"
            method="post"
    >
        <table class="table">
            <thead class="thead-dark">
                <th>Artist</th>
                <th>Title</th>
                <th>URL</th>
                <th></th>
                <th></th>
                <th></th>
            </thead>
            <tbody id="tracklist">
                <tr th:each="track, lineStat: *{tracks}" data-test="tracks">
                    <td><input type="text" th:field="*{tracks[__${lineStat.index}__].artist}" class="artist" data-test="artist"/></td>
                    <td><input type="text" th:field="*{tracks[__${lineStat.index}__].title}" class="title" data-test="title"/></td>
                    <td><input type="text" th:field="*{tracks[__${lineStat.index}__].url}" class="url" data-test="url"/></td>
                    <td><button type="button" data-test="move-up" class="move-up btn btn-outline-secondary">Move Up</button></td>
                    <td><button type="button" data-test="move-down" class="move-down btn btn-outline-secondary">Move Down</button></td>
                    <td><button type="button" data-test="delete-track" class="delete btn btn-outline-secondary">Delete</button></td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-outline-secondary" id="add-track" data-test="add-track" onclick="addTrack()" autofocus>Add</button>
        <br>
        <br>
        <br>
        <input type="submit" class="btn btn-secondary" data-test="submit" value="Add tracklist to show">
    </form>
</div>
</body>
</html>