<!DOCTYPE html>
<html lang="en" , xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: head"></div>
    <script type="text/javascript" th:src="@{/js/tracklist.js}"></script>
</head>
<body>
<div th:insert="fragments/layout :: navbar"></div>
<div class="container">
    <form
            action="#"
            th:action="@{/shows/{id}/tracks (id=${showId})}"
            th:object="${tracklist}"
            method="post"
    >
        <fieldset>
        <table class="table">
            <thead class="thead-dark">
                <th>Artist</th>
                <th>Title</th>
                <th>URL</th>
                <th></th>
                <th></th>
            </thead>
            <tbody id="tracklist" data-test="tracklist">
                <tr id="inputs">
                    <td>
                        <input type="text" id="artist-input" data-test="artist-input" autofocus/>
                    </td>
                    <td>
                        <input type="text" id="title-input" data-test="title-input"/>
                    </td>
                    <td>
                        <input type="text" id="url-input" data-test="url-input"/>
                    </td>
                    <td colspan="2">
                        <button type="button" class="btn btn-outline-secondary" id="add-track" data-test="add-track" onclick="addTrack()">Add</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </fieldset>
        <br>
        <br>
        <br>
        <input type="submit" onclick="return confirm('This will overwrite an already existing tracklist, do you want to continue?')" class="btn btn-secondary" data-test="submit" value="Add tracklist to show">
    </form>
</div>
</body>
</html>